table, td, th {
  border-collapse: collapse;
}

table {
  width: 100%;
  table-layout: fixed;
}

.Bracket {
  text-align: left;
  background-color: #171819;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.Title {
  align-items: left;
  justify-content: center;
  font-size: calc(20px + 4vmin);
  color: #33447c;
  padding: 2vmin 2vmin 0 2vmin;
}

.Subtitle{
  font-size: calc(10px + 2vmin);
  color: #33447c;
  padding: 0 2vmin 0 2vmin;
}

.standingContainer {
  flex-grow: 1;
  padding: 2vmin;
}

.standingTable {
  height: 10%;
}

.roundContainer {
  padding-top: 4vmin;
}

.roundTable {
  height: 90%;
}
